# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
logs/
*.log
*.out
*.err

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and coverage reports
.coverage
htmlcov/
*.cover
*.py,cover
nosetests.xml
pytest_cache/
junit.xml

# IDE/editor specific
.vscode/
.idea/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
