<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafana Dashboard</title>
</head>
<body>
    <h1>Embedded Grafana Dashboard</h1>

    <!-- Dynamic Grafana URL -->
    <iframe id="grafana-iframe" width="100%" height="600" frameborder="0"></iframe>
       

    <script>
        // Get the current host dynamically
        let baseHost = window.location.hostname;
    
        // Set dynamic Grafana dashboard URL
        let grafanaUrl = `http://${baseHost}:3000/d/{{grafana_dashboard_id}}/my-dashboard?orgId=1&kiosk`;
        console.log("Grafana URL: ", grafanaUrl); 
    
        // Set the iframe src attribute dynamically
        document.getElementById("grafana-iframe").src = grafanaUrl;
    </script>
</body>
</html>
